<div class="container-fluid mat-body text-body-secondary" *ngIf="(elements$ | async) as elements; else loadingBlock">
    <div *ngIf="(product$ | async) as product; else elseBlock">
        <div class="d-flex align-items-center">
            <a mat-mini-fab color="primary" class="me-2 shadow-none" routerLink="/search">
                <mat-icon fontIcon="chevron_left"></mat-icon>
            </a>
            <h1 class="display-4">{{product.name}}</h1>
            <a routerLink="/edit/{{product.id}}" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </a>
        </div>
        <div class="row">
            <div class="col-9">
                <p>{{elements['serial']}}: {{product.serial}}</p>
                <div class="border rounded p-3">
                    {{(product.translations | find:'language.id':currentLanguage?.id)?.longDescription}}
                </div>
            </div>
            <div class="col-3">
                <div class="border rounded p-3 mb-3">
                    <h4 class="fw-light">{{elements['properties']}}</h4>
                    <pdt-property-view [elements]="elements" [product]="product" [language]="currentLanguage"></pdt-property-view>
                </div>
                <div style="height: 250px;" class="d-flex border rounded justify-content-center align-items-center">
                    {{elements['photo']}}
                </div>
            </div>
        </div>
    </div>
    
    <ng-template #elseBlock>
        <div class="">{{ elements['notLoaded'] }}</div>
    </ng-template>
</div>
<ng-template #loadingBlock>
    <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
