<div class="container-fluid mat-body text-body-secondary">
    <div *ngIf="(product$ | async) as product; else elseBlock">
        <div class="d-flex align-items-center">
            <a mat-mini-fab color="primary" class="me-2 shadow-none" routerLink="/search">
                <mat-icon fontIcon="chevron_left" aria-label="Zurück"></mat-icon>
            </a>
            <h1 class="display-4">{{product.name}}</h1>
            <button mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="border rounded p-3">
                    {{product.translations[0].longDescription}}
                </div>
            </div>
            <div class="col-3">
                <div class="border rounded p-3 mb-3">
                    <h4 class="fw-light">Eigenschaften</h4>
                    <p class="d-flex justify-content-between mb-2">
                        <strong>Gewicht</strong>
                        <em>{{product.weight}} {{product.translations[0].language?.measure}}</em>
                    </p>
                    <p class="d-flex justify-content-between mb-2">
                        <strong class="fw-bold"><abbr title="Höhe, Breite, Tiefe">H, B, T</abbr></strong>
                        <em>{{product.height}}, {{product.width}}, {{product.width}} {{product.translations[0].language?.measure}}</em>
                    </p>
                    <p class="d-flex justify-content-between mb-2">
                        <strong>Preis</strong>
                        <em>{{product.price}} {{product.translations[0].language?.currency}}</em>
                    </p>
                    <p class="d-flex justify-content-between mb-2">
                        <strong>Farben</strong>
                        <em *ngFor="let color of product.colors; last as isLast">{{color}} <span *ngIf="!isLast">,</span></em>
                    </p>
                    <p class="d-flex justify-content-between mb-2">
                        <strong>Kategorien</strong>
                        <em *ngFor="let category of product.categories; last as isLast">{{category}} <span *ngIf="!isLast">,</span></em>
                    </p>
                </div>
                <div style="height: 250px;" class="d-flex border rounded justify-content-center align-items-center">
                    Foto
                </div>
            </div>
        </div>
    </div>
    
    <ng-template #elseBlock>
        <div class="">Produkt kann nicht geladen werden</div>
    </ng-template>
</div>
