<div class="container-fluid mat-body text-body-secondary" *ngIf="(elements$ | async) as elements; else loadingBlock">
    <div *ngIf="product; else productMissing">
        <div class="d-flex align-items-center">
            <a mat-mini-fab color="primary" class="me-2 shadow-none" routerLink="/search">
                <mat-icon fontIcon="chevron_left"></mat-icon>
            </a>
            <h1 class="display-4">{{product.name}}</h1>
            <a routerLink="/edit/{{product.id}}" mat-icon-button>
                <mat-icon>edit</mat-icon>
            </a>
        </div>
        <div class="row">
            <div class="col-9">
                <p>{{elements['serial']}}: {{product.serial}}</p>
                <div class="border rounded p-3">
                    {{(product.translations | find:'language.id':currentLanguage?.id)?.longDescription}}
                </div>
            </div>
            <div class="col-3">
                <div class="border rounded p-3 mb-3">
                    <h4 class="fw-light">{{elements['properties']}}</h4>
                    <p class="d-flex justify-content-between mb-2">
                        <strong>{{elements['weight']}}</strong>
                        <em>{{product.weight}} {{(product.translations | find:'language.id':currentLanguage?.id)?.language?.measurement?.weight}}</em>
                    </p>
                    <p class="d-flex justify-content-between mb-2">
                        <strong class="fw-bold"><abbr title="{{elements['height']}}, {{elements['width']}}, {{elements['depth']}}">{{elements['height'][0]}}, {{elements['width'][0]}}, {{elements['depth'][0]}}</abbr></strong>
                        <em>{{product.height}}, {{product.width}}, {{product.width}} {{(product.translations | find:'language.id':currentLanguage?.id)?.language?.measurement?.width}}</em>
                    </p>
                    <p class="d-flex justify-content-between mb-2">
                        <strong>{{elements['price']}}</strong>
                        <em>{{product.price}} {{(product.translations | find:'language.id':currentLanguage?.id)?.language?.currency?.symbol}}</em>
                    </p>
                    <p class="d-flex justify-content-between mb-2">
                        <strong>{{elements['colors']}}</strong>
                        <em *ngFor="let color of product.colors; last as isLast">{{color.name}} <span *ngIf="!isLast">,</span></em>
                    </p>
                    <p class="d-flex justify-content-between mb-2">
                        <strong>{{elements['categories']}}</strong>
                        <em *ngFor="let category of product.categories; last as isLast">{{category.name}} <span *ngIf="!isLast">,</span></em>
                    </p>
                </div>
                <div style="height: 250px;" class="d-flex position-relative border rounded justify-content-center align-items-center">
                    <div *ngIf="image; else photoText" class="w-100 h-100 d-flex justify-content-center position-absolute top-0 start-0">
                        <img *ngIf="image" [src]="image" class="mw-100 mh-100 rounded" alt="{{ elements['photo'] }}">
                    </div>
                    <ng-template #photoText>
                        <mat-icon>hide_image</mat-icon>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
    <ng-template #productMissing>
        {{ elements['notLoaded'] }}
    </ng-template>
</div>
<ng-template #loadingBlock>
    <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center">
        <mat-icon>hourglass_empty</mat-icon>
    </div>
</ng-template>
