/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.d-flex {
    display: flex;
}

.flex-grow-1 {
    flex-grow: 1;
}

.align-content {
    align-content: start;

    &-start {
        align-content: start;
    }
    &-end {
        align-content: end;
    }
    &-center {
        align-content: center;
    }
    &-baseline {
        align-content: baseline;
    }
}

.align-items {
    align-items: start;

    &-start {
        align-items: start;
    }
    &-end {
        align-items: end;
    }
    &-center {
        align-items: center;
    }
    &-baseline {
        align-items: baseline;
    }
}